## Problem Solving and Programming

### Date: 12 June 2019

#### Day Objectives


* String slicing
* Functions in Python
* Basic Problems related to conditional statements using functions
* Python Data Structure - Lists, Tuples and Dictionaries
* Basic operations on data structures
* Applying Data Structures to solve problems

### String Slicing

In [53]:
s1 = "Python"

s1[len(s1)-1]

s1[-2]

s1[0]  # Accessing the first charecter in a string
s1[1]  # Accessing the second charecter in a string

# s1[len(s1)-1]/s1[-1]  # last charecter

s1[0:2]   # here 0 is inclusive and display 'py'/ Acessing fist two charecters

s1[-3:]
s1[-2:]     # Work for any string -2 is exclusive and last charecter is inclusive
#s1[4:] will not work for all strings... work for string with 6 charecters
# Accessing otherthan 1st and last

s1[1:-1]   # Accessing otherthan 1st and last

s1[len(s1)//2]    # Acessing the middle charecter

# Reverse of a string
s1[-1::-1]
# Accessing of last two charecters
s1[-1:-3:-1]
# reverse middle two charecters

s1[len(s1)//2:len(s1)//2-3:-1]


# Accessing alternate charecters
s1[::2]

s1[0:0+2:0+4]

 # Accessing alternate charecters in reverse order

'Pto'

In [48]:
# Accessing otherthan 1st and last

s1= 'programming'

[len(s1)]
s1[1:-1]

'rogrammin'

In [29]:
# Acessing the middle of odd charecter

s1="lalitha"
s1[len(s1)//2]

'i'

## Functions

In [60]:
# Clear modular way to complete the task

# Function to reverse a string

def reversestring(s1):
    return s1[::-1]

reversestring("Python")

'nohtyP'

In [71]:
# Function to check a palindrome

def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False

palindrome("palindrome")

False

In [78]:
# Leap year

def year(y):
    if y%400 == 0 or (y%100 != 0 and y%4 == 0):
        return True
    else:
        return False
year(2000)

True

In [90]:
# Function number of count digits

def count(number):
    return len(str(number))
    
count(12345)

5

In [92]:
# Identify the lengh of 4 numbers

def greatest(n1,n2,n3,n4):
    
    if(n1>n2 and n1>n3 and n3>n4):
        return n1
    elif(n2>n1 and n2>n3 and n2>n4):
        return n2
    elif(n3>n1 and n3>n2 and n3>n4):
        return n3
    else:
        return n4
greatest(23,43,51,45)

51

# Iteration

* for
* while

#### For loop in python

[101,210]

for i in range(101, 211]

    print i
    
    
O/P:-

101
-
-
-
210

In [1]:

# Function to print natural numbers

def printnaturalnumbers(n):
    for counter in range(1,n+1):   # n is a key word
        print(counter, end=" ")
    
printnaturalnumbers(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [8]:
# Define a function to print the alternate values in a range
# [500,550] # set is inclusive  ->500 502 504----550
# (500,550) # Set is exclusive  ->501 503 505----549
# range(500,550) ->500,501,----549
# for all set based fi=uctions in python have start value inclusive and end value is exclusive

def alternative(l,n):
    for i in range(l,n+1,2):
        print (i, end=" ")
    return
alternative(500,525)

500 502 504 506 508 510 512 514 516 518 520 522 524

In [17]:
# Function to print reverse of given range in the same line

def reverse(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
    return
reverse(1,10)

10 9 8 7 6 5 4 3 2 1

In [29]:
# Function to print the odd numbers in reverse order in a range

def oddnumbers(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
oddnumbers(123,130)

129 127 125 123

In [34]:
# Function to calculate the sum of numbers in a range

def sumnum(start,end):
    sum = 0
    for i in range(start,end+1):
        sum = sum+i
    return sum
sumnum(100,200)

15150

In [40]:
# Function to  calculate the average of a given range

def average(start,end):
    sum = 0
    count=0
    for i in range(start,end+1):
            sum =sum+i
            count=count+1
    return sum/count # 0r sum/(end-start+1)
average(1000,5000)

3000.0

In [24]:
# Function to generate the leap in a given range
#2010-2020

def leap(y): # to check the leap
    if y%400==0 or(y%100!=0 and y%4==0):
        return True
    return False
def genleap(start,end): # to print range
    for y in range(start,end+1):
        if leap(y):
            print(y,end=" ")
genleap(2000,2020)

2000 2004 2008 2012 2016 2020

In [4]:
# Calculate the number of days in a given time period using leap year
# for every year in the time if the year is not leap ->> add 365 to sum, add 366 to sum

def days(start,end):
    sum = 0
    for y in range(start,end+1):
        if leap(y):
            sum =sum+366
        else:
            sum=sum+365
    return sum

days(2000,2020)

7671

In [27]:
# Calculate number of hours in a given time period
#(11,1995-12,2018)
# 3 steps
  # 1. start month year to end of the year
  # 2. calculate days for all year between start year and end year
        # 2018 -365*no of years
  # 3. calculate days from jan to end month year

# find the no. of days excluding feb
#first 6 months -1,3,4,5,6,7
                # all even months 30 days
                # all odd months 31 days
#last 5 months - 8,9,10,11,12
                 # all even months 31days
                # all odd months 30days
#31 days -(month <=7 and month%2!=0) || (month>=8) and month 0   

def numberofdaysinmonth(month,year):
    if month == 2:
        if leap(y):
            return 29
        return 28
    elif (month<=7 and month%2!=0)or(month>=8 and month%2==0):
        return 31
    else:
        return 30
def daysinstartyear(startmonth,startyear):
    day = 0
    for month in range(startmonth,13):
        day +=numberofdaysinmonth(month,startyear)
    return day
def daysinendyear(endmonth,endyear):
    day = 0
    for month in range(1,endmonth+1):
        day +=numberofdaysinmonth(month,endyear)

def noofhours(startmonth,startyear,endmonth,endyear):
    day = 0
    day += daysinstartyear(startmonth,startyear)
    day += daysinendyear(endmonth,endyear)
    if endyear-startyear == 2:  # 2019-2017
        day += days(startyear+1,startyear+1)
    elif endyear-startyear>2:
        day+=days(startyear+1,endyear-1)
    return 24*day

noofhours(11,1975,3,1999)
    

daysinstartyear(2,2019)

NameError: name 'y' is not defined

In [7]:
# To print n natutal nubers using while loop


def naturalnumbers(n):
    counter = 1
    while counter<= n:
        print(counter, end =" ")
        counter = counter+1
naturalnumbers(9)

1 2 3 4 5 6 7 8 9

In [9]:
# Function to Print numbers between  divisible by 6 not a factor of 100 in a given range(lb, ub inclusive)



def rangeofnubers(ln,un):

    for i in range(ln>=un+1):
    
        if(i%6==0 and 100%i!= 0):
            print(i)
           
             
    rangeofnumbers(15,200)

In [27]:
# Function to find the average of cubes of all even numbers in a single range(lb,ub)inclusive

def avgevencubes(lb,ub):
    sum =0
    for i in range(lb,ub+1):
        if i%2== 0:
            sum += i**3
    return sum/(ub-lb)

In [23]:
#  Function to generate list of factors
def factor(n):
    print("Factors are")
    for i in range(1,n+1):
        if n%i== 0:
            print(i)
factor(35)

Factors are
1
5
7
35

In [31]:
# Function on calculating the factorial
def factorial(n):
    sum=0
    fact=1
    for i in range(1,n+1):
        fact=fact*i
        sum=sum+fact
        average=sum/2
        print(fact," ",sum,"--",average)
factorial(5)

1   1 -- 0.5
2   3 -- 1.5
6   9 -- 4.5
24   33 -- 16.5
120   153 -- 76.5

In [160]:
# Function for Prime

def prime(n):
    for i in range(2,n+1):
        if n%i==0:
            return False
        else:
            return True
            
prime(52)

False

In [163]:
# Function to calculate average of n prime number
def average(n,count):
    for i in range(2,n+1):
        if n%i==0:
            print(0)
        else:
            print(n+0)
average

In [32]:
# Function to generate all perfect numbers in a given range

# sum of all factors =the number

In [ ]:
# Function to generate N  odd amstrong number in a given range

def amstrong(n):
    for i in range(1,n+1):
        reminder=n%10
        reminder=reminder**3