#### Day Objectives
- Practice on Income Dataset
- Define functions for the following data points
- Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [1]:
# Function to read the data file

filepath = "Data Files/Income.csv"
import pandas as pd
def readcsv(filepath):
    return pd.read_csv(filepath)
readcsv(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
# Average for individual row

for row in incomedf.values:
    sum = 0
    
    avg = 0
    totalavg =0
    #for i in incomedf.values:
    for i in range(2,11):
        sum += row[i]
        avg = sum/9
    print(avg)

NameError: name 'incomedf' is not defined

In [ ]:
# Average of all rows

for row in incomedf.values:
    sum = 0
    #count =0
    avg = 0
    totalavg =0
    for i in incomedf.values:
        for j in range(2,11):
            sum += row[j]
          #  count = count+1
            avg = sum/9
    totalavg = (totalavg+avg)/5
print(totalavg)

In [ ]:
# Min income of all states

li = []
li1 =[]
def getColumnIndex(df, startkey):
    for i in range(len(df.columns)):
        if df.columns[i] == startkey:
            columnindex = i
    return columnindex
s=getColumnIndex(incomedf, '2005')
e=getColumnIndex(incomedf, '2013')
for row in incomedf.values:
    for i in range(s,e+1):
        li.append(row[i])
print(min(li))

In [10]:
# Print the names of states based on descending order of income in the year 2009
li = []
res =0
def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
getColumnIndex(incomedf, "2009")
def accessdataframerow(df,key):
    for row in  df.values:
        if key in row:
            for item in row:
                print(item, end = " ")
    return

s = accessdataframerow(incomedf,"Alabama")

e = accessdataframerow(incomedf,"California")
for i in range(s,e):
    li.append(i[6])
    sorted(li)
print(li[0], reverse = True)

04000US01 Alabama 37150 37952 42212 44476 39980 40933 42590 43464 41381 04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

TypeError: 'NoneType' object cannot be interpreted as an integer

In [45]:
# State with highest average income in the last three years

sum = 0
for i in incomedf.values:
    three = i[-3:]
    print(three[1])

43464
63648
47044
39018
57020

In [33]:
for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
for i in incomedf.values:
    incomedf.values[i[-3:]]
print(incomedf)

In [ ]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf,"[0]")

In [5]:
# Function to access a row based on a unique column value

incomedf = readcsv(filepath)
def accessdataframerow(df,key):
    for row in  df.values:
        if key in row:
            for item in row:
                print(item, end = " ")
    return

s = accessdataframerow(incomedf,"Alabama")

e = accessdataframerow(incomedf,"California")

for i in range(s,e+1)

04000US01 Alabama 37150 37952 42212 44476 39980 40933 42590 43464 41381 04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'