## Markdown Basics
* **BOLD** <br>
* *Italic* <br>
* ***Bold&Italic*** <br>
* Normal Text
    * Sublist 1
    * Sublist 2
  

>1. Ordered List1
>2. Ordered List2


I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search

[Jupyter Logo](jupyter.png)
![Jupyter Logo](jupyter.png)



~Printf("Hello Markdown")~
<img src="jupyter.png" style="float:left">
<(http
<markdown@google.com>

## Python Basics

Python version3.7

-Scripting
-Object Oriented language
-Fuctional

In [2]:
#Python Comments

print("Good Afternoon","!",end=" || ")#Basic Output
print("Hello Python")

Good Afternoon ! || Hello Python

### Assignment

In [3]:
n1 = 123456  # Single Variable Assignment

# Multi Variable Assignment

a,b,c=123,234,345 #Multi Variable Assignment with Different Values



n2=n3=n4=n1

n2

c
print(a,b,c)

123 234 345

## Data Types

* int
* float
* string

In [4]:
type(a)

s1="Python"
type(s1)

f1=12.345
type(f1)


int(f1)

str(int(f1))

float(str(int(f1)))

12.0

### Arithmetic Operations

* +
* -
* *
* /
*%
*^

In [ ]:
n2%11

n3=n2**123456

n3
type(n3)
len(str(n3))

atoms = 10**82
len(str(atoms))
type(str(atoms))

### Conditionals

In [ ]:
if atoms<10**9:
    print("TRUE")
else:print("FLASE")

In [ ]:
#Check if a number is Even

n=123
if n%2==0:
    print("Even")
else:
    print("odd")

In [ ]:


n1 = int(input("Enter the first number"))

n2 = int(input("Enter the second number"))

n3 = int(input("Enter the Third number"))

if n1>n2 and n1>=n3:
    print(n1,"is great")
    
elif n2>=n3:
    print(n2,"is great")
else:
    print(n3,"is great")

In [ ]:
# check if a leap year

n = int(input("Enter a Year"))
if(n%400==0 and (n%100!=0 or n%4==0)):
    print(n,"Leap")
else:
    print(n,"not Leap")

In [ ]:
# Check if a given number is factor of 1000

n = int(input("Enter a number"))

if 1000 % n == 0:
    print("number is a factor")
else:
    print("number is not a facor")

In [ ]:
# Check if a sring is equal to a number

s1="Python"
n1="123456"

if str(n1)==s1:
    print(n1, "is equal to",s1)
else:
    print(n1, "not equal to",s1)

In [ ]:
#Calculate the Square root of a number without 

n1=123
print(n1**0.5)

In [ ]:
# Calculate the number of nano seconds in a given year including leap year

n=int(input("Enter a year"))
if(n%400==0 and (n%100!=0 or n%4==0)):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

In [ ]:
# Check if a number is mulptiple of 10
n1=int(input("Enter a number"))
if n1%10==0:
    print(n1,"is a multiple of 10")
else:
    print(n1,"is not a multiple of 10")

In [ ]:
### Check if a number exist in a range

ln=int(input("Enter ln"))
up=int(input("Enter up"))
n=int(input("Entr n"))

if(ln<n<up):
    print(n,"is in a given range")
else:
    print(n,"is not in a range")

In [ ]:
##### Calculate the number of digits 

n1 = 123456
len(str(n1))

In [5]:
# Calculater

n1=int(input("Enter n1"))
n2=int(input("Enter n2"))
x=input("Enter operator")
if(x=="+"):
    print(n1+n2)
elif(x=="-"):
    print(n1-n2)
elif(x=="*"):
    print(n1*n2)
elif(x=="/"):
    print(n1/n2)
else:
    print(n1%n2)

Enter n17
Enter n23
Enter operator%
1

In [ ]:
##